<head>
<meta charset="utf-8"/>
</head>
<body  ng-app="myApp">
      <!-- END TOP AREA  -->

        <div class="gap"></div>


        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row row-wrap" data-gutter="120">
                        <div class="col-md-4">
                            <div class="thumb">
                                <header class="thumb-header"><i class="fa fa-dribbble box-icon-black round box-icon-big animate-icon-top-to-bottom"></i>
                                </header>
                                <div class="thumb-caption">
                                    <h5 class="thumb-title"><a class="text-darken" href="#">Un maximum de divertissement</a></h5>
                                    <p class="thumb-desc">Amoureux du ballon rond, formez votre équipe et profitez de nos terrains pour plus d’actions et moins de temps mort</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumb">
                                <header class="thumb-header"><i class="fa fa-cutlery  round box-icon-big animate-icon-top-to-bottom"></i>
                                </header>
                                <div class="thumb-caption">
                                    <h5 class="thumb-title"><a class="text-darken" href="#">Une large palette de services</a></h5>
                                    <p class="thumb-desc">Pour une satisfaction garantie City Foot met à votre disposition des vestiaires avec casiers sécurisés, un snack ainsi que des salles de séminaire pour vos évènements</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumb">
                                <header class="thumb-header"><i class="fa fa-trophy box-icon-black  round box-icon-big animate-icon-top-to-bottom"></i>
                                </header>
                                <div class="thumb-caption">
                                    <h5 class="thumb-title"><a class="text-darken" href="#">Organisation de tournois & championnats</a></h5>
                                    <p class="thumb-desc">City Foot organise des championnats chaque trimestre, pour les joueurs en quête de compétition et de challenge</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>
        <div class="bg-holder">
            <div class="bg-mask"></div>
            <div class="bg-img" style="background-image:url(img/7.jpg);"></div>
            <div class="bg-content">
                <div class="container">
                    <div class="gap gap-big text-center text-white">
                        <h2 class="text-uc mb20"><b>10 000 DH</b> à gagner</h2>
                        <ul class="icon-list list-inline-block mb0 last-minute-rating">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="last-minute-title">Tournoi du printemps - Foot</h5>
                        <p class="last-minute-date">Ven 4 Mai - Dim 6 Mai</p>
                        <p class="mb20">Frais d'inscription <b>1500 DH</b> / équipe</p><a class="btn btn-lg btn-white btn-ghost" href="#">S'inscrire maintenant<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="gap"></div>
            <h2 class="text-center">Nos partenaires</h2>
            <div class="gap">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <div class="thumb">
                            <header class="thumb-header">
                                <a class="hover-img curved" href="#">
                                    <img src="img/micasa.jpg" alt="Image Alternative text" title="196_365" />
                                </a>
                            </header>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumb">
                            <header class="thumb-header">
                                <a class="hover-img curved" href="#">
                                    <img src="img/citySport.png" alt="Image Alternative text" title="El inevitable paso del tiempo" />
                                </a>
                            </header>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumb">
                            <header class="thumb-header">
                                <a class="hover-img curved" href="#">
                                    <img src="img/Go-sport.jpg" alt="Image Alternative text" title="Upper Lake in New York Central Park" />
                                </a>
                            </header>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumb">
                            <header class="thumb-header">
                                <a class="hover-img curved" href="#">
                                    <img src="img/oasis.png" alt="Image Alternative text" title="people on the beach" />
                                </a>
                            </header>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
      
</body>   
