<!DOCTYPE HTML>
<html class="full">

<head>
    <title>City Foot - 404</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/mystyles.css">
    <script src="../static/js/modernizr.js"></script>


</head>

<body class="full">

    <div class="global-wrap">

        <div class="full-page">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-blur" style="background-image:url(img/1.jpg);"></div>
                <div class="bg-holder-content full text-white">
                    <a class="logo-holder" href="index.html">
                        <img src="img/logoFoot.jpg" alt="Image Alternative text" title="Image Title" />
                    </a>
                    <div class="full-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <p class="text-hero">404</p>
                                    <h1>Page non trouvée</h1>
                                    <p>Nous sommes désolés mais la page que vous recherchez n'existe pas ou a été supprimée. Vous pouvez revenir à la page d'accueil en utilisant le bouton ci-dessous</p><a class="btn btn-white btn-ghost btn-lg mt5" href="index.html"><i class="fa fa-long-arrow-left"></i> à la Page d'Acceuil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#">À propos</a>
                        </li>
                        <li><a href="#">Nos Offres spéciales</a>
                        </li>
                        <li><a href="#">Bon Plans</a>
                        </li>
                        <li><a href="#">Evénements</a>
                        </li>
                        <li><a href="#">Espace Entreprises</a>
                        </li>
                        <li><a href="#">Media</a>
                        </li>
                        <li><a href="#">Développeurs</a>
                        </li>
                        <li><a href="#">Aide</a>
                        </li>
                        <li><a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="../static/js/slimmenu.js"></script>
        <script src="../static/js/bootstrap-datepicker.js"></script>
        <script src="../static/js/bootstrap-timepicker.js"></script>
        <script src="../static/js/nicescroll.js"></script>
        <script src="../static/js/dropit.js"></script>
        <script src="../static/js/ionrangeslider.js"></script>
        <script src="../static/js/icheck.js"></script>
        <script src="../static/js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="../static/js/typeahead.js"></script>
        <script src="../static/js/card-payment.js"></script>
        <script src="../static/js/magnific.js"></script>
        <script src="../static/js/owl-carousel.js"></script>
        <script src="../static/js/fitvids.js"></script>
        <script src="../static/js/tweet.js"></script>
        <script src="../static/js/countdown.js"></script>
        <script src="../static/js/gridrotator.js"></script>
        <script src="../static/js/custom.js"></script>
    </div>
</body>

</html>